<div id="main" class="same-height">
    <aside id="sidebar" class="same">
        <a href="#" class="nav-opener"><span class="icon icon-arrow-bottom"></span></a>
        <div class="holder">
            <div class="logo"><a href="/"><img src="/images/logo.png" height="21" width="185" alt="Lead Quizzes" class="logo-large"><img src="/images/logo-small.png" alt="Lead Quizzes" class="logo-small"></a></div>
            <div class="nav-section" ng-controller="navigation" ng-include="navigation()"></div>
        </div>
    </aside>
    <div class="user-section" ng-controller="user" ng-include="user()"></div>
    <div id="content" class="same">
        <header class="page-heading">
            <a href="http://help.leadquizzes.com" target="_h" class="link">Help &amp; Support</a>
        </header>
        <div class="lq-interface">
            <div class="interface-block">
                <div class="interface-blocks">
                    <div class="start-quiz-box">
                        <a href="quiz-create">
                            <span class="img"><img src="/images/icon-img01.png" alt="image description"></span>
                            <strong class="title">Create New Template</strong>
                            <span class="eg">EG. What color are you?</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
