<div class="lightbox api-box" id="api-connect">
    <form ng-submit="createAdmin()" class="api-form">
        <span class="integration-error"></span>
        <input type="hidden" id="vendorReferenceName" value="active_campaign">
        <input type="hidden" id="integrationId" ng-model="input.integrationId">
        <div class="label-text">
            <label for="token">Admin Username:</label>
        </div>
        <div class="form-input"><input type="text" class="input" placeholder="" id="username" ng-model="input.username"></div>
        <div class="label-text">
            <label for="api">Admin Password:</label>
        </div>
        <div class="form-input"><input type="password" class="input" placeholder="" id="password" ng-model="input.password"></div>
        <div class="form-button">
            <input type="submit" class="button-connect" value="Create">
        </div>
    </form>
</div>