<div id="main" class="same-height">
    <aside id="sidebar" class="same">
        <a href="#" class="nav-opener"><span class="icon icon-arrow-bottom"></span></a>
        <div class="holder">
            <div class="logo"><a href="/"><img src="/images/logo.png" height="21" width="185" alt="Lead Quizzes" class="logo-large"><img src="/images/logo-small.png" alt="Lead Quizzes" class="logo-small"></a></div>
            <div class="nav-section" ng-controller="navigation" ng-include="navigation()"></div>
        </div>
    </aside>
    <div class="user-section" ng-controller="user" ng-include="user()"></div>
	<div id="content" class="same">
		<header class="page-heading">
			<div class="right-block">
				<a href="http://help.leadquizzes.com" target="_h" class="link">Help &amp; Support</a>
			</div>
			<h1>External Integrations <small>/&nbsp; Connect your LeadQuizzes account to external marketing services</small></h1>
		</header>
		<div class="dash-content integration-content">
			<div class="two-columns">
				<div class="col">
					<strong class="title">Connected apps:</strong>
					<ul class="app-list">
						<li ng-repeat="vendor in activeVendors">
							<div class="image"><img ng-src="/images/vendors/{{vendor.vendorReferenceName}}.jpg" height="113" width="112" alt="{{vendor.vendorName}}"></div>
							<div class="details">
								<strong class="name">{{vendor.vendorName}}</strong>
								<div class="text">
									<div class="dropdown-menu edit-menu">
										<a class="button-default">Setting <span class="caret down"></span></a>
										<div class="dropdown">
											<ul>
												<li ng-if="!vendor.oauthKey"><a fancybox style="cursor: pointer" ng-click="getIntegration(vendor.integrationId); openIntegrationFancybox(vendor.vendorReferenceName);">Edit</a></li>
												<li><a style="cursor: pointer;" ng-click="deleteIntegration(vendor.integrationId)">Disconnect</a></li>
											</ul>
										</div>
									</div>
									<div class="info">
										<dl ng-if="vendor.username && vendor.username != 0">
											<dt>Connected Account: </dt>
											<dd>{{vendor.username}}</dd>
										</dl>
										<dl ng-if="!vendor.username || vendor.username == 0">
											<dt>Account Connected</dt>
										</dl>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="col">
					<strong class="title">All Integration Options:</strong>
					<ul class="app-list">
						<li ng-repeat="vendor in availableVendors">
							<div class="image"><img ng-src="/images/vendors/{{vendor.vendorReferenceName}}.jpg" height="113" width="112" alt="{{vendor.vendorName}}"></div>
							<div class="details">
								<strong class="name">{{vendor.vendorName}}</strong>
								<div class="text">
									<div class="dropdown-menu edit-menu">
										<a ng-if="!vendor.authorizationUrl" fancybox style="cursor: pointer" ng-click="openIntegrationFancybox(vendor.vendorReferenceName);" class="lightbox button-default">connect</a>
										<a ng-if="vendor.authorizationUrl" href="{{vendor.authorizationUrl}}" target="_auth" fancybox style="cursor: pointer" ng-click="openIntegrationFancybox(vendor.vendorReferenceName);" class="lightbox button-default">connect</a>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
