<nav class="navigation">
    <ul class="nav">
        <li ng-class="{ active: active('/home')}"><a href="home"><span class="icon icon-view-thumb"></span> <span class="menu-text">Create Quiz</span></a></li>
    </ul>
    <ul class="nav add">
        <li ng-class="{ active: active('/dashboard')}"><a href="dashboard-tiles"><span class="icon icon-dashboard"></span> <span class="menu-text">Dashboard</span></a></li>
        <li ng-class="{ active: active('/account')}"><a href="account"><span class="icon icon-person"></span> <span class="menu-text">My Account</span></a></li>
        <li ng-class="{ active: active('/integration')}"><a href="integration"><span class="icon icon-sitemap"></span> <span class="menu-text">Integrations</span></a></li>
    </ul>
</nav>
