<div class="lightbox api-box" id="api-connect" ng-controller="integration">
    <form ng-submit="connectVendor()" class="api-form">
        <span class="integration-error"></span>
        <input type="hidden" id="vendorReferenceName" value="aweber">
        <input type="hidden" id="integrationId" ng-model="input.integrationId">
        <div>
            Please complete the Aweber authorization that opened in a new tab. Once finished, paste the authorization code here.
        </div>
        <div class="label-text">
            <label for="api">Enter Authorization Code:</label>
        </div>
        <div class="form-input"><input type="text" class="input" placeholder="Authorization Code here" id="apiKey" ng-model="input.apiKey"></div>
        <div class="form-button">
            <input type="submit" class="button-connect" value="Connect">
            <span class="help-text">Need help? How to connect with Aweber. <a href="http://help.leadquizzes.com/article/22-aweber" target="_h">Click Here</a></span>
        </div>
    </form>
</div>